$contact-height: 654px;
$contact-form-height: 471px;
$contact-form-width: 448px;
$contact-form-margin-top: 80px;
$contact-form-margin-bottom: 103px;

$illus-height: 408px;
$illus-width: 493px;
$offset-y: 50px;

.contact {
  height: $contact-height;
  position: relative;
  max-width: $screen-desktop-max;
  margin: 0 auto;
  position: relative;

  @media (max-width: $screen-md - 1) {
    height: auto;
    margin-bottom: 40px;
  }

  @media (max-width: $screen-sm - 1) {
    margin-top: 29px;
    margin-bottom: 64px;
    height: auto;
  }

  .message-bg {
    &:after {
      background-image: url('/static/images/desktop/bg-message.png');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: top;
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      height: $contact-height;
      width: 100%;
      z-index: -1;
    }

    @media (max-width: $screen-md - 1) {
      &:after {
        background-image: url('/static/images/desktop/bg-message.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
        content: "";
        display: block;
        position: absolute;
        top: 130px;
        left: 0;
        height: 354px;
        width: 100%;
        z-index: -1;
      }
    }

    // CEHCK NEXT
    @media (max-width: $screen-sm - 1) {
      &:after {
        background-image: url('/static/images/mobile/bg-message.png');
        background-repeat: no-repeat;
        background-size: cover;
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        height: 818px;
        width: 100%;
        z-index: -1;
      }
    }

    @media (max-width: $screen-xs) {
      &:after {
        background-image: url('/static/images/mobile/bg-message.png');
        background-repeat: no-repeat;
        background-size: cover;
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        height: 818px;
        width: 100%;
        z-index: -1;
      }
    }
  }

  .illus {
    text-align: center;

    @media (max-width: $screen-md - 1) {
      margin-bottom: 24px;
    }
  }

  .illus-message {
    height: $illus-height;
    width: $illus-width;
    margin-top: $offset-y + $contact-form-margin-top;
    margin-left: 120px;
    position: relative;
    &:after {
      background-image: url('/static/images/desktop/illus-message@3x.png');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: $illus-width;
      height: $illus-height;
      z-index: -1;
    }

    @media (max-width: $screen-md - 1) {
      padding-bottom: 24px;
      height: ceil($illus-height/2);
      width: ceil($illus-width/2);
      margin: 0 auto;
      text-align: center;
      padding: 32px 16px;

      &:after {
        background-image: url('/static/images/illus-message@3x.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        content: "";
        display: block;
        position: absolute; /* could also be absolute */
        top: 0;
        width: 231px;
        height: 190px;
        margin-top: 98px;
        margin-left: 62px;
        z-index: -1;
      }
    }

    // CHECK NEXT
    @media (max-width: $screen-sm - 1) {
      padding-bottom: 24px;
      height: 360px;
      width: 360px;
      margin: 0 auto;
      text-align: center;
      padding: 32px 16px;

      &:after {
        background-image: url('/static/images/mobile/illus-message@3x.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        content: "";
        display: block;
        position: absolute; /* could also be absolute */
        top: 0;
        width: 231px;
        height: 190px;
        margin-top: 98px;
        margin-left: 62px;
        z-index: -1;
      }
    }


    @media (max-width: $screen-xs) {
      padding-bottom: 24px;
      height: 288px;
      width: 288px;
      margin: 0 auto;
      text-align: center;

      &:after {
        background-image: url('/static/images/mobile/illus-message@3x.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        content: "";
        display: block;
        position: absolute; /* could also be absolute */
        top: 0;
        width: 231px;
        height: 190px;
        margin-top: 57px;
        margin-left: 32px;
        z-index: -1;
      }
    }
  }

  .row {
    @media (max-width: $screen-sm) {
      flex-direction: column-reverse
    }
  }

  &-wrapper {
    width: $contact-form-width;
    height: $contact-form-height;
    margin: $contact-form-margin-top 0 $contact-form-margin-bottom 0;
    border-radius: 4px;
    box-shadow: 0 22px 34px 0 rgba(0, 0, 0, 0.14);
    padding: 24px;
    background-color: $body-bg;

    @media (max-width: $screen-md - 1) {
      margin: 0 auto;
      text-align: center;
      padding: 16px;
      width: $contact-form-width;
      height: $contact-form-height;
    }

    // CHECK NEXT
    @media (max-width: $screen-sm - 1) {
      margin: 0 auto;
      text-align: center;
      padding: 16px;
      width: auto;
    }

    @media (max-width: $screen-xs) {
      margin: 0 auto;
      text-align: center;
      padding: 16px;
      width: auto;
    }
  }

  h2 {
    height: 54px;
    margin-bottom: 24px;

    @media (max-width: $screen-sm) {
      margin-bottom: 13px;
    }
  }

  p {
    font-size: $font-size-large;
    margin-bottom: 24px;

    @media (max-width: $screen-xs) {
      font-size: $font-size-base;
    }
  }
}

.form-group {
  height: 48px;
  border-radius: 4px;
  background-color: $blue-lighter;
  margin-bottom: 8px;
  margin-left: 0;
  margin-right: 0;
  font-size: $font-size-medium;

  @media (max-width: $screen-md - 1) {
    .col-md-5,
    .col-md-7 {
      flex: 0 0 100%;
    }

  }

  .form-control {
    height: 100%;
    border: 0;
    background-color: $blue-lighter;

    @media (max-width: $screen-xs) {
      padding: 0;
    }

    &:focus {
      box-shadow: none;
      border-color: none;

      &::-webkit-input-placeholder {
        color:transparent;
      }
      &::-moz-placeholder {
        color:transparent;
      }
    }

    &:-moz-placeholder {
      color:transparent;
    }
  }

  &.message {
    height: 104px;
  }
}

.form-check {
  padding: 0;
  margin-left: 0;
  margin-right: 0;

  button {
    width: 400px;
    height: 45px;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.24);
    color: $btn-default-color;
    background-color: $btn-default-bg;
    font-size: $font-size-medium;
    font-weight: bold;

    @media (max-width: $screen-sm) {
      width: 100%;
    }
  }
}
