#connect-wrapper {
  background: #d1e0f0;
}

#connect {
  margin: 0 auto;
  padding: $base-margin * 3 0;

  @media (max-width: $screen-md - 1) {
    height: auto;
    padding-bottom: 0;
  }

  h2 {
    margin-bottom: $base-margin * 4;
    text-align: center;
  }

  .media {
    width: 328px;
    padding: $base-margin * 2 0;
    border-radius: 4px;
    box-shadow: 0 22px 24px 0 rgba(0, 0, 0, 0.08);
    background-color: #fafcff;
    margin: 0 32px;

    @media (max-width: $screen-sm) {
      margin: 0;
      width: 328px;
    }

    @media (max-width: $screen-xs) {
      margin: 0;
      width: 336px;
    }

    &-left {
      width: 84px;
      height: 125px;

      img {
        height: 100%;
      }
    }

    &-a {
      cursor: pointer;
    }
    &:hover {
      text-decoration: none;
    }

    &-body {
      padding: $base-margin * 1.5 0 $base-margin * 1.5 $base-margin;
      color: $text-light;
    }

    &-heading {
      font-size: $font-size-h3;
      margin-bottom: $base-margin / 2;
    }
  }
}
