$contact-form-height: 471px;
$contact-form-width: 448px;

$illus-height: 408px;
$illus-width: 493px;

#contact-wrapper {
  background-image: url('/static/images/svg/contact-bg.svg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top;
  padding-bottom: $base-margin * 8;
}

#contact {
  .illus-message {
    margin-top: $base-margin * 8;

    &:after {
      background-image: url('/static/images/desktop/illus-message@3x.png');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      content: '';
      display: block;
      width: $illus-width;
      height: $illus-height;
      margin: 0 0 0 auto;
    }

    @media (max-width: $screen-md - 1) {
      padding-bottom: 24px;
      height: ceil($illus-height/2);
      width: ceil($illus-width/2);
      margin: 0 auto;
      text-align: center;
      padding: 32px 16px;

      &:after {
        background-image: url('/static/images/illus-message@3x.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        content: '';
        display: block;
        position: absolute; /* could also be absolute */
        top: 0;
        width: 231px;
        height: 190px;
        margin-top: 98px;
        margin-left: 62px;
      }
    }

    // CHECK NEXT
    @media (max-width: $screen-sm - 1) {
      padding-bottom: 24px;
      height: 360px;
      width: 360px;
      margin: 0 auto;
      text-align: center;
      padding: 32px 16px;

      &:after {
        background-image: url('/static/images/mobile/illus-message@3x.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        content: "";
        display: block;
        position: absolute; /* could also be absolute */
        top: 0;
        width: 231px;
        height: 190px;
        margin-top: 98px;
        margin-left: 62px;
        z-index: -1;
      }
    }

    @media (max-width: $screen-xs) {
      padding-bottom: 24px;
      height: 288px;
      width: 288px;
      margin: 0 auto;
      text-align: center;

      &:after {
        background-image: url('/static/images/mobile/illus-message@3x.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        content: "";
        display: block;
        position: absolute; /* could also be absolute */
        top: 0;
        width: 231px;
        height: 190px;
        margin-top: 57px;
        margin-left: 32px;
        z-index: -1;
      }
    }
  }

  .contact-form-wrapper {
    width: $contact-form-width;
    margin: $base-margin * 4 auto 0;
    border-radius: 4px;
    box-shadow: 0 22px 34px 0 rgba(0, 0, 0, 0.14);
    padding: $base-margin * 1.5;
    background-color: $body-bg;

    @media (max-width: $screen-md - 1) {
      margin: 0 auto;
      text-align: center;
      padding: 16px;
      width: $contact-form-width;
      height: $contact-form-height;
    }

    // CHECK NEXT
    @media (max-width: $screen-sm - 1) {
      margin: 0 auto;
      text-align: center;
      padding: 16px;
      width: auto;
    }

    @media (max-width: $screen-xs) {
      margin: 0 auto;
      text-align: center;
      padding: 16px;
      width: auto;
    }
  }

  h2 {
    text-align: center;
    margin-bottom: $base-margin;
  }

  p {
    text-align: center;
    font-size: $font-size-large;
    margin-bottom: $base-margin * 1.5;
  }
}

.form-group {
  height: 48px;
  border-radius: 4px;
  background-color: $blue-lighter;
  margin: 0 0 $base-margin / 2 0;
  font-size: $font-size-medium;

  .form-control {
    height: 100%;
    border: 0;
    background-color: $blue-lighter;

    @media (max-width: $screen-xs) {
      padding: 0;
    }

    &:focus {
      box-shadow: none;

      &::-webkit-input-placeholder {
        color: transparent;
      }
      &::-moz-placeholder {
        color: transparent;
      }
    }

    &:-moz-placeholder {
      color: transparent;
    }
  }

  &.message {
    height: 104px;
  }
}

.form-check {
  padding: 0;
  margin: 0;

  button {
    margin-top: $base-margin * 1.5;
    padding: $base-margin / 2 0;
    width: 100%;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.24);
    color: $btn-default-color;
    background-color: $btn-default-bg;
    font-size: $font-size-medium;
    font-weight: bold;
  }
}
