#donors-wrapper {
  margin-top: $base-margin * 8;
  padding-bottom: $base-margin * 8;
  background-image: linear-gradient(to bottom, #ffffff, #d1e0f0);

  @media (max-width: $screen-md) {
    margin-top: $base-margin * 5;
  }

  .jumbotron {
    .lead {
      font-size: $font-size-base + 4;
      margin-top: $base-margin;

      @media (max-width: $screen-md) {
        font-size: $font-size-base + 2;
        margin-top: $base-margin / 2;
      }
    }
  }

  .row {
    margin-top: $base-margin * 5;

    @media (max-width: $screen-md) {
      margin-top: $base-margin * 1.5;
    }
  }

  div[class*='col-'] {
    &:first-child {
      @media (max-width: $screen-md) {
        margin-top: $base-margin * 1.5;
      }
    }

    &:nth-child(2),
    &:nth-child(3) {
      @media (max-width: $screen-md) {
        margin-top: $base-margin - 4;
      }
    }
  }

  .donors-icon-wrapper {
    width: 264px;
    height: 164px;
    margin: 0 auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px 4px rgba(218, 218, 218, 0.16);
    background-color: #ffffff;
    text-align: center;

    @media (max-width: $screen-md) {
      width: 200px;
      height: 124px;
    }

    img {
      position: relative;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;

      &.ef-donors-img {
        width: 100%;
      }

      &.tf-donors-img {
        width: 50%;
        margin-top: $base-margin;

        @media (max-width: $screen-md) {
          margin-top: $base-margin - 4;
        }
      }

      &.gitcoin-donors-img {
        width: 90%;
        margin-top: $base-margin * 2.5;

        @media (max-width: $screen-md) {
          margin-top: $base-margin * 2;
        }
      }
    }
  }
}