.footer {
  background: #FFFFFF;
  max-width: $screen-desktop-max;
  margin: 0 auto;

  .wrapper {
    padding-top: $base-margin * 3;

    @media (max-width: $screen-xs) {
      @include x-justify-content(center);
      margin: 0 auto;
      width: 100%;
    }

    @media (min-width: $screen-xs) and (max-width: $screen-sm) {
      @include x-justify-content(center);
      margin: 0 auto;
      width: 100%;
    }

    .item {
      margin: 0 $base-margin * 2;
      width: 128px;
      float: left;

      @media (max-width: $screen-sm) {
        margin: 0 $base-margin $base-margin * 1.5 0;
        width: calc(50% - 8px);
      }

      &:first-child {
        margin-left: 0;
        width: 420px;

        @media (max-width: $screen-sm) {
          margin: 0 0 $base-margin * 2 0;
          width: 100%;
        }
      }

      @media (max-width: $screen-sm) {
        &:nth-child(2n + 1) {
          margin: 0 0 $base-margin * 1.5 0;
        }
      }

      &:last-child {
        margin-right: 0;
      }

      .address {
        margin-top: $base-margin / 2;
      }

      h5 {
        font-weight: bold;
      }

      ul {
        list-style: none;
        padding: 0;
        margin-top: $base-margin * 1.5;

        li {
          padding-bottom: $base-margin;

          a {
            height: 20px;
            color: #696C75;
          }
        }
      }
    }
  }

  hr {
    clear: both;
  }

  .copyrights {
    clear: both;
    margin: $base-margin * 2 0;
    background: #FFFFFF;
    @include x-display-flex;
    @include x-flex-direction(row);

    @media (max-width: $screen-sm) {
      @include x-justify-content(center);
      margin: 0 auto;
      padding-bottom: $base-margin * 1.5;
      width: 100%;
    }

    h5 {
      font-weight: bold;
      flex: 1;
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }

    .social {
      align-self: center;
      @include x-display-flex;
      justify-content: center;
      align-items: center;
      list-style: none;
      flex: 1;

      li {
        margin-right: $base-margin * 2;

        &:last-child {
          margin-right: 0;
        }

        a {
          display: block;
        }
        a:hover {
          text-decoration: none;
        }
      }
    }
  }

  .company {
    font-weight: bold;
    text-align: center;
    margin-bottom: $base-margin * 1.5;

    @media (max-width: $screen-sm) {
      padding-top: 0;
    }
  }
}
