.footer {
  background: #fafcff;

  .wrapper {
    padding-top: $base-margin * 3;
    display: flex;
    flex-wrap: wrap;

    @media (max-width: $screen-md) {
      padding-top: $base-margin * 1.5;
    }

    .item {
      margin: 0 $base-margin * 2;
      width: 128px;

      @media (max-width: $screen-md) {
        margin: 0 $base-margin $base-margin * 1.5 0;
        width: calc(50% - 8px);
      }

      &:first-child {
        margin-left: 0;
        width: 360px;

        @media (max-width: $screen-md) {
          width: 100%;
        }
      }

      &:nth-child(2n + 1) {
        @media (max-width: $screen-md) {
          margin: 0 0 $base-margin * 1.5 0;
        }
      }

      &:nth-child(3),
      &:nth-child(4) {
        margin-bottom: 0;
      }

      h5 {
        font-weight: bold;
        font-size: $font-size-base + 2;
      }

      .address {
        margin-top: $base-margin / 2;
        font-size: $font-size-base - 2;

        @media (max-width: $screen-md) {
          font-size: $font-size-base - 4;
        }
      }

      ul {
        list-style: none;
        padding: 0;
        margin-top: $base-margin * 1.5;

        @media (max-width: $screen-md) {
          margin-top: $base-margin;
        }

        li {
          padding-bottom: $base-margin;

          @media (max-width: $screen-md) {
            padding-bottom: $base-margin / 2;
          }

          a {
            color: #696C75;
            font-size: $font-size-base - 2;

            @media (max-width: $screen-md) {
              font-size: $font-size-base - 4;
            }
          }
        }
      }
    }
  }

  .copyrights {
    padding: $base-margin 0 $base-margin * 1.5;
    background: #fafcff;
    display: flex;

    @media (max-width: $screen-md) {
      padding-bottom: $base-margin;
    }

    h5 {
      font-weight: bold;
      flex: 1;
      display: flex;
    }

    .social {
      display: flex;
      justify-content: center;
      list-style: none;
      flex: 1;

      li {
        margin-right: $base-margin * 2;

        &:last-child {
          margin-right: 0;
        }

        a {
          display: block;

          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }

  .company {
    font-weight: bold;
    text-align: center;
    margin-bottom: $base-margin * 1.5;
    font-size: $font-size-base - 2;
  }
}
