.footer {
  background: #FFFFFF;
  height: 208px;
  max-width: $screen-desktop-max;
  margin: 0 auto;
  position: relative;

  @media (max-width: $screen-sm) {
    height: auto;
  }

  .wrapper {
    padding-top: 54px;
    @include x-display-flex
    @include x-flex-wrap(wrap)

    @media (max-width: $screen-xs) {
      @include x-justify-content(center);
      margin: 0 auto;
      width: 100%;
    }

    @media (min-width: $screen-xs) and (max-width: $screen-sm) {
      @include x-justify-content(center);
      margin: 0 auto;
      width: 100%;
    }

    .item {
      margin: 0 32px;
      width: 128px;

      @media (max-width: $screen-sm) {
        margin: 0 16px 24px 0;
        width: calc(50% - 8px);
      }

      &:first-child {
        margin-left: 0;
        width: 508px;

        @media (max-width: $screen-sm) {
          margin: 0 0 32px 0;
          width: 100%;
        }
      }

      @media (max-width: $screen-sm) {
        &:nth-child(2n + 1) {
          margin: 0 0 24px 0;
        }
      }

      &:last-child {
        margin-right: 0;
      }

      .address {
        margin-top: 8px;
      }

      h5 {
        font-weight: bold;
      }

      ul {
        list-style: none;
        padding: 0;
        margin-top: 24px;

        li {
          padding-bottom: 15px;

          a {
            height: 20px;
            color: #696C75;
          }
        }
      }
    }
  }

  .copyrights {
    margin: 30px 0;
    background: #FFFFFF;
    @include x-display-flex;
    @include x-flex-direction(row);

    @media (max-width: $screen-sm) {
      @include x-justify-content(center);
      margin: 0 auto;
      padding-bottom: 24px;
      width: 100%;
    }

    h5 {
      font-weight: bold;
      flex: 1;
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }

    .social {
      align-self: center;
      @include x-display-flex
      justify-content: center;
      align-items: center;
      list-style: none;
      flex: 1;

      li {
        width: 24px;
        height: 24px;
        margin-right: 32px;

        &:last-child {
          margin-right: 0;
        }
      }
    }

    .dropdown {
      flex: 1;
      display: flex;
      justify-content: flex-end;
      align-items: center;

      &.options {
        width: 65px;
        margin-left: 65px;

        .dropdown-menu {
          z-index: 10001;
          top: -12px!important;
          width: 160px;
          border-radius: 4px;
          box-shadow: 0 22px 34px 0 rgba(0, 0, 0, 0.14);
          border: solid 1px $blue-lighter;
          background-color: $body-bg;
          padding: 24px 16px;

          .dropdown-item {
            height: 24px;
            margin-bottom: 24px;
            font-size: $font-size-medium;
            color: #333;

            &:last-child {
              margin-bottom: 0;
            }
          }
        }
        .nav-link {
          padding: 0;
        }

        a {
          color: $link-color;
          font-size: $font-size-medium;
          font-family: $font-family-base;
          height: 24px;
        }
      }
    }
  }

  .company {
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
  }
}
