.header {
  padding: 14px 0 0 0;
  min-height: 58px;
  z-index: 10;

  &.sticky {
    box-shadow: 0 0 17px 0 rgba(0, 0, 0, 0.17);
    z-index: 1001;
    background-color: $body-bg;
  }

  .lang-select:before {
    background-image: url(/static/images/desktop/ic-chat.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    content: "";
    display: block;
    position: absolute;
    top: 4px;
    left: -18px;
    height: 14px;
    width: 14px;
    z-index: 1;
  }

  .navbar {
    padding: 0;
    color: $link-color;

    .container {
      padding: 0 16px;

      @media (min-width: $screen-sm) and (max-width: $screen-md) {
        padding: 0;
      }
    }

    .navbar-brand {
      width: 235px;
      height: 44px;

      @media (max-width: $screen-xs){
        width: 188px;
        height: 35px;
      }

      img {
        width: 100%;
      }
    }

    &-toggler {
      padding: 0;

      &-icon {
        background-image: url('../../static/images/desktop/align-center-1.svg');
        height: 24px;
        width: 24px;
      }
    }

    .opened {
      .navbar-toggler {
        &-icon {
          // NOTE: change to close icon
          background-image: url('../../static/images/desktop/close.png');
          height: 18px;
          width: 18px;
          padding: 3px;
        }
      }
    }
    .navbar-nav {
      width: 100%;
      @media (min-width: $screen-lg) {
        height: 44px;
        justify-content: flex-end;
      }

      @media (max-width: $screen-sm) {
        background-color: transparent;
        margin-top: 24px;
      }

      .nav-item {
        height: 44px;
        margin: 0 16px;
        text-align: center;
        position: relative;

        @media (max-width: $screen-xs) {
          margin: 0 0 24px 0;
          text-align: left;

          &.dropdown {
            a:after {
              content: "";
              background-image: url('../../static/images/desktop/arrow-2.png');
              background-repeat: no-repeat;
              transform: rotate(180deg);
              top: 8px;
              right: 0;
              width: 16px;
              height: 16px;
              position: absolute;
              display: inline-block;
            }
          }
        }

        @media (max-width: $screen-sm) {
          margin: 0 0 32px 0;
          text-align: left;

          &.dropdown {
            a:after {
              content: "";
              background-image: url('../../static/images/desktop/arrow-2@2x.png');
              background-repeat: no-repeat;
              transform: rotate(180deg);
              top: 8px;
              right: 0;
              width: 24px;
              height: 24px;
              position: absolute;
              display: inline-block;
            }
          }
        }

        &:first-child {
          margin-left: 16px;

          @media (max-width: $screen-sm) {
            margin-left: 0;
          }
        }

        a {
          height: 44px;
          padding: 10px 8px;
          color: $link-color;
          font-family: $font-family-base;
          font-size: $font-size-medium;
          line-height: 24px;
          letter-spacing: normal;
          text-align: center;
          display: block;

          @media (max-width: $screen-xs) {
            text-align: left;
          }

          @media (min-width: $screen-xs) and (max-width: $screen-sm) {
            font-size: $font-size-large;
            text-align: left;
          }
        }
      }
    }

    .options {
      display: inline-block;
      width: 65px;
      margin-left: 65px;

      .nav-link {
        padding: 0;
      }

      a {
        color: $link-color;
        font-size: $font-size-medium;
        font-family: $font-family-base;
        height: 24px;
      }
    }
  }

  .dropdown-menu {
    @media (max-width: $screen-xs) {
      &.show {
        background-color: #f4f4f5;
        width: auto;
        box-shadow: none;
        border: 0;
        padding: 16px 0;
        border-left: 8px solid #0d5394;
        margin-left: -16px;
        margin-right: -16px;
        margin-top: 16px;
        border-radius:0;
      }
    }

    @media (max-width: $screen-sm) {
      &.show {
        background-color: #f4f4f5;
        width: auto;
        box-shadow: none;
        border: 0;
        padding: 16px 0;
        border-left: 12px solid #0d5394;
        margin-left: -16px;
        margin-right: -16px;
        margin-top: 16px;
        border-radius:0;
      }
    }
  }

  .dropdown-menu,
  .options > .dropdown-menu {
    z-index: 10;
    margin: 0;
    width: 160px;
    border-radius: 4px;
    box-shadow: 0 22px 34px 0 rgba(0, 0, 0, 0.14);
    border: solid 1px $blue-lighter;
    background-color: $body-bg;
    padding: 24px 16px;

    .dropdown-item {
      height: 48px;
      padding-bottom: 24px;
      font-size: $font-size-medium;
      color: #333;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
