.parallel-section-icons-wrapper {
  @media (max-width: $screen-md) {
    margin-top: $base-margin * 2;
  }

  div[class*='col-'] {
    &:first-child,
    &:nth-child(2) {
      margin-bottom: $base-margin * 4;

      @media (max-width: $screen-md) {
        margin-bottom: $base-margin;
      }
    }
  }

  .parallel-section-icon {
    width: 128px;
    height: 128px;
  }

  .parallel-section-icon-title {
    margin-top: $base-margin;
    font-size: $base-font-size + 4;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.44;
    letter-spacing: normal;
    color: #323232;

    @media (max-width: $screen-md) {
      margin-top: $base-margin / 2;
      font-size: $base-font-size + 2;
    }
  }

  .parallel-section-icon-description {
    margin-top: $base-margin / 2;
    font-size: $base-font-size + 2;

    @media (max-width: $screen-md) {
      font-size: $base-font-size - 2;
    }
  }
}

.parallel-section-desc-wrapper {
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;

  .parallel-section-desc-body {
    font-size: $font-size-base + 4;
    margin-top: $base-margin;

    @media (max-width: $screen-md) {
      font-size: $font-size-base + 2;
    }
  }

  .parallel-section-desc-btn-wrapper {
    margin-top: $base-margin * 4;

    @media (max-width: $screen-md) {
      margin-top: $base-margin * 1.5;
    }

    button {
      width: 192px;
      height: 44px;
      text-transform: none;

      @media (max-width: $screen-md) {
        width: 139px;
        border-radius: 2px;
      }

      a {
        display: block;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
