#subscribe-wrapper {
  margin-top: $base-margin * 8;

  .subscribe-form-wrapper {
    width: 1040px;
    margin: 0 auto;
    padding: 0 $base-margin * 2.5;
    border-radius: 16px;
    box-shadow: 0 2px 34px 0 rgba(0, 0, 0, 0.08);
    background-color: #fff;
    background-image: url('/static/images/svg/subscribe-bg-color.svg');
    background-repeat: no-repeat;
    background-size: contain;

    @media (max-width: $screen-md) {
      background-image: url('/static/images/svg/mobile/subscribe-bg-color.svg');
      width: 100%;
    }

    .row {
      padding: $base-margin * 2 0;

      @media (max-width: $screen-md) {
        padding: $base-margin * 1.5 0;
      }
    }

    .form-inline {
      @media (max-width: $screen-md) {
        display: block;
      }

      .form-group {
        margin-bottom: 0;
      }
    }

    .subscribe-label {
      font-size: 24px;
      font-weight: bold;
      color: #1f5e98;
    }

    input {
      border: solid 1px #cee8ff;
      border-radius: 2px;
      padding: $base-margin 0 $base-margin $base-margin;
      width: 384px;
      height: 41px;

      @media (max-width: $screen-md) {
        margin-top: $base-margin;
        width: 100%;
      }
    }

    button {
      margin-left: $base-margin;
      border-radius: 2px;
      padding: $base-margin / 2 $base-margin * 2.5;
      font-size: $font-size-base + 2;
      font-weight: bold;
      text-transform: none;

      @media (max-width: $screen-md) {
        margin-top: $base-margin;
        margin-left: 0;
        width: 100%;
      }
    }
  }
}