#team-wrapper {
  padding-top: $base-margin * 8;

  @media (max-width: $screen-md) {
    padding-top: $base-margin * 4;
  }

  .jumbotron {
    .lead {
      font-size: $font-size-base + 4;

      @media (max-width: $screen-md) {
        font-size: $font-size-base + 2;
        margin-top: $base-margin / 2;
      }
    }
  }

  .teams {
    margin-top: $base-margin * 5;

    @media (max-width: $screen-md) {
      margin-top: $base-margin * 1.5;
    }

    div[class*='col-'] {
      &:nth-child(2),
      &:nth-child(3),
      &:nth-child(4),
      &:nth-child(5),
      &:nth-child(6) {
        @media (max-width: $screen-md) {
          margin-top: $base-margin * 1.5;
        }
      }

      &:nth-child(4),
      &:nth-child(5),
      &:nth-child(6) {
        margin-top: $base-margin * 1.5;
      }
    }

    .card {
      border: 0;

      &-img-top {
        width: 256px;
        height: 256px;
        display: block;
        margin: 0 auto;
      }

      &-body {
        padding: 0;
        text-align: center;
        font-size: $font-size-large;
        color: $text-light;
      }

      &-title {
        font-size: $font-size-h3;
        font-weight: bold;
        line-height: 1.42;
        margin-top: $base-margin;
        margin-bottom: 0;

        @media (max-width: $screen-md) {
          font-size: $font-size-base + 4;
          margin-top: $base-margin / 2;
        }
      }

      &-subtitle {
        font-weight: bold;
        font-size: $font-size-base + 2;
        line-height: 1.44;
        margin-top: $base-margin / 4;
      }

      &-text {
        font-size: $font-size-base + 2;
        margin-top: $base-margin;
      }
    }
  }
}
