.usecase-wrapper {
  background-image: linear-gradient(to bottom, #F0F5FB, #FFF);
}

.description {
  max-width: 1440px;
  margin: 0 auto;
}

.guarantee {
  margin-bottom: 128px;

  @media (max-width: $screen-sm - 1) {
    margin-bottom: 64px;
    margin-right: 0;
    margin-left: 0;
  }

  &-items {
    margin-top: 13px;

    .media {
      margin-bottom: 24px;
      text-align: center;
      @media (max-width: $screen-sm - 1) {
        @include x-flex-direction(column);
        @include x-align-items(center);
        margin: 0 auto;
        width: 288px;
      }

      &-left {
        height: 64px;
        width: 64px;
        // padding-right: 8px;

        @media (max-width: $screen-sm - 1) {
          height: 144px;
          width: 144px;
        }

        img {
          width: 100%;
        }
      }

      &-body {
        // padding-left: 8px;
        width: 496px;
        font-size: $font-size-large;
        line-height: 1.44;

        @media (max-width: $screen-sm - 1) {
          width: 288px;
          font-size: $font-size-medium;
          padding-left: 0;
          margin: 0 auto;
          padding-bottom: 24px;
          text-align: center;
        }

        h4 {
          font-size: $font-size-h3;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.42;

          @media (max-width: $screen-sm - 1) {
            width: 288px;
            font-size: $font-size-h4;
            margin-bottom: 8px;
          }
        }
      }
    }
  }

  &-image {
    width: 592px;
    height: 512px;

    @media (max-width: $screen-sm - 1) {
      width: 288px;
      height: 288px;
    }

    img {
      width: 100%;
    }
  }
}