#usecase-wrapper {
  background-image: linear-gradient(to bottom, #F0F5FB, #FFF);
  padding-top: $base-margin * 8;

  .jumbotron {
    h2 {
      margin-bottom: $base-margin;
    }
    margin-bottom: $base-margin * 5;
  }

  .slick-slider {
    margin: 0 auto;
    .slick-track {
    }
    .slick-slide {
      .description-wrapper {
        width: 542px;
        margin: 0 auto;
        text-align: center;
      }

      img {
        width: 542px;
        height: 305px;
        margin: 0 auto $base-margin;
      }

      .description-title {
        font-size: $font-size-base + 10;
        font-weight: bold;
      }

      .description-body {
        margin-top: $base-margin;
        font-size: $font-size-base + 2;
      }
    }
  }

  .slick-btn-wrapper {
    text-align: center;

    .slick-prev-btn {
    }

    .slick-next-btn {
    }
  }
}
