.card {
  width: 210px!important;
  height: 382px;
  border-radius: 4px;
  box-shadow: 0 22px 24px 0 rgba(0, 0, 0, 0.14);

  &-title {
    margin: 16px 0;
    text-align: center;
    font-size: $font-size-medium;
    color: $blue-base;
    font-weight: bold;
    line-height: 1.5;
    height: 24px;
  }

  &-body {
    padding: 0;
    margin: 0;

    img {
      height: 128px;
      width: 128px;
      margin: 0 40px;
    }

    h5 {
      font-weight: bold;
      margin: 27px 16px;
      text-align: center;
    }
  }

  &-text {
    margin: 27px 16px;
    text-align: center;
  }
}
