$contacts-bg-height-mobile: 1070px;
$header-distance-mobile: 88px;
$header-distance-desktop: 90px;

.contacts {
  max-width: $screen-desktop-max;
  margin: 0 auto;
  position: relative;
  padding-top: $header-distance-desktop;

  @media (max-width: $screen-sm - 1) {
    padding-top: 16px;
  }

  .head-bg {
    &:after {
      background-image: url('/static/images/desktop/bg-header.png');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      content: "";
      display: block;
      position: absolute; /* could also be absolute */
      top: -106px;
      left: 0;
      height: 968px;
      width: 100%;
      z-index: -1;
    }

    @media (max-width: $screen-sm - 1) {
      background-image: url('/static/images/mobile/bg-header.png');
      background-repeat: no-repeat;
      background-size: 100% 100%;
      background-position: bottom;
      content: "";
      display: block;
      position: absolute;
      top: -$header-distance-mobile;
      left: 0;
      height: $contacts-bg-height-mobile + ($header-distance-mobile/2);
      width: 100%;
      z-index: -1;
    }
  }

  .illus {
    text-align: center;

    @media (max-width: $screen-md - 1) {
      margin-bottom: 24px;
    }

    &-message {
      height: $illus-height;
      width: $illus-width;
      margin-top: $offset-y + $contact-form-margin-top;
      margin-left: 120px;
      position: relative;

      &:after {
        background-image: url('/static/images/illus-message@3x.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: $illus-width;
        height: $illus-height;
        z-index: -1;
      }

      @media (max-width: $screen-md - 1) {
        padding-bottom: 24px;
        height: ceil($illus-height/2);
        width: ceil($illus-width/2);
        margin: 0 auto;
        text-align: center;
        padding: 32px 16px;

        &:after {
          background-image: url('/static/images/illus-message@3x.png');
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
          content: "";
          display: block;
          position: absolute;
          top: 0;
          width: 231px;
          height: 190px;
          z-index: -1;
        }
      }

      // CHECK NEXT
      @media (max-width: $screen-sm - 1) {
        padding: 48px 28px 49px 29px;
        height: 288px;
        width: 288px;
        margin: 0 auto;
        margin-bottom: 16px;
        text-align: center;

        &:after {
          background-image: url('/static/images/mobile/illus-message@3x.png');
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
          content: "";
          display: block;
          position: absolute;
          top: 0;
          width: 231px;
          height: 190px;
          margin-top: 57px;
          margin-left: 32px;
          z-index: -1;
        }
      }
    }
  }

  .row {
    @media (max-width: $screen-sm) {
      flex-direction: column-reverse
    }
  }

  .join {
    margin-bottom: 60px;

    @media (max-width: $screen-sm - 1) {
      text-align: center;
    }

    h1 {
      margin-bottom: 24px;

      @media (max-width: $screen-sm - 1) {
        margin-bottom: 16px;
        line-height: 1.42;
      }
    }

    p {
      font-size: $font-size-h3;
      line-height: 1.42;
      height: 68px;
      margin-bottom: 24px;

      @media (max-width: $screen-sm - 1) {
        font-size: $font-size-medium;
        height: auto;
        width: 288px;
        padding-bottom: 16px;
        margin: 0 auto;
      }
    }

    .form-join {
      padding: 24px;
      background-color: $body-bg;
      box-shadow: 0 22px 34px 0 rgba(0, 0, 0, 0.14);
      height: 325px;

      @media (max-width: $screen-sm - 1) {
        height: 455px;
        width: 288px;
        margin: 0 auto;

        & >.row {
          flex-direction: row;
        }

        .form-group {
          height: 80px;
          margin-bottom: 16px;

          &.message {
            height: 144px!important;
          }
        }

        .form-control {
          height: 48px!important;
        }

        textarea.form-control {
          height: 104px!important;
        }
      }
    }

    .col-form-label {
      font-weight: bold;
      font-size: $font-size-medium;
      background: $body-bg;

      @media (max-width: $screen-sm - 1) {
        height: 24px;
        padding: 0;
        text-align: left;
        margin-bottom: 4px;
      }
    }

    .form-check {
      .action {
        padding: 0;
      }

      button {
        width: 100%;
      }
    }
  }

  @import './components/form/contact';

  .connect {
    padding-top: 0;
    height: auto;
    padding-bottom: 60px;

    @media (max-width: $screen-sm) {
      margin-top: 64px;
    }

    @media (max-width: $screen-xs) {
      margin-top: 16px;
    }

    h1, p {
      margin-bottom: 24px;
    }

    p {
      font-size: $font-size-large;
      color: $text-light;
      line-height: 1.56;
    }
  }
}
