.contacts {
  max-width: $screen-desktop-max;
  margin: 0 auto;
  position: relative;
  padding-top: 90px;

  @media (max-width: $screen-xs) {
    padding-top: 34px;
  }

  .head-bg {
    @media (min-width: $screen-md + 1) {
      &:after {
        background-image: url('/static/images/desktop/bg-header.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        content: "";
        display: block;
        position: absolute; /* could also be absolute */
        top: -106px;
        left: 0;
        height:968px;
        width: 100%;
        z-index: -1;
      }
    }

    @media (max-width: $screen-xs) {
      background-image: url('/static/images/mobile/bg-header.png');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: bottom;
      content: "";
      display: block;
      position: absolute;
      top: -96px;
      left: 0;
      height: 1070px;
      width: 100%;
      z-index: -1;
    }
  }

  .row {
    @media (max-width: $screen-xs) {
      flex-direction: column-reverse
    }
  }

  .join {
    margin-bottom: 60px;

    @media (max-width: $screen-sm) {
      text-align: center;
    }

    h1 {
      margin-bottom: 24px;
      @media (max-width: $screen-xs) {
        margin-bottom: 16px;
      }

      @media (max-width: $screen-sm) {
        margin-bottom: 32px;
      }
    }

    p {
      font-size: $font-size-h3;
      line-height: 1.42;
      height: 68px;
      margin-bottom: 24px;

      @media (max-width: $screen-sm) {
        font-size: $font-size-large;
        height: auto;
        width: 360px;
        padding-bottom: 32px;
        margin: 0 auto;
      }

      @media (max-width: $screen-xs) {
        font-size: $font-size-medium;
        height: auto;
        width: 288px;
        padding-bottom: 24px;
        margin: 0 auto;
      }
    }

    .form-join {
      padding: 24px;
      background-color: $body-bg;
      box-shadow: 0 22px 34px 0 rgba(0, 0, 0, 0.14);
      height: 325px;
      @media (max-width: $screen-xs) {
        height: auto;

        & >.row {
          flex-direction: row;
        }

        .form-group {
          height: 80px;
          margin-bottom: 16px;

          &.message {
            height: 144px!important;
          }
        }

        .form-control {
          height: 48px!important;
        }

        textarea.form-control {
          height: 104px!important;
        }
      }
    }

    .col-form-label {
      font-weight: bold;
      font-size: $font-size-medium;
      background: $body-bg;

      @media (max-width: $screen-xs) {
        height: 24px;
        padding: 0;
        text-align: left;
        margin-bottom: 4px;
      }
    }

    .form-check {
      .action {
        padding: 0;
      }

      button {
        width: 100%;
      }
    }

    .illus-message {
      height: 382px;
      width: 460px;
      margin-left: 16px;
      margin-top: 78px;

      @media (max-width: $screen-xs) {
        height: 206px;
        width: 231px;
        margin: 0 auto;
        padding-bottom: 16px;
      }
    }
  }

  @import './components/form/contact';

  .connect {
    padding-top: 0;
    height: auto;
    padding-bottom: 60px;
    @media (max-width: $screen-xs) {
      margin-top: 16px;
    }

    @media (max-width: $screen-sm) {
      margin-top: 32px;
    }

    h1, p {
      margin-bottom: 24px;
    }

    p {
      font-size: $font-size-large;
      color: $text-light;
      line-height: 1.56;
    }
  }
}
