@import './home/general';
@import './home/introduction';
@import './home/roadmap';
@import './home/contact';

.connect {
  height: 413px;
  padding-bottom: 79px;
  max-width: $screen-desktop-max;
  margin: 0 auto;
  position: relative;
  text-align: center;

  @media (max-width: $screen-md - 1) {
    height: auto;
    padding-bottom: 0;
  }

  h1 {
    margin-bottom: 24px;
  }

  .account-wrapper {
    @include x-display-flex;
    @include x-flex-direction(row);
    @include x-align-items(center);
    @include x-justify-content(center);

    @media (max-width: $screen-md - 1) {
      @include x-flex-direction(column);

      .media {
        margin-bottom: 24px;
        margin-left: 0;
      }
    }
  }

  @import './components/media/connect';
}
