.general {
  @media (min-width: $screen-lg) {
    height: 740px;
    margin-top: 190px;
  }

  @media (max-width: $screen-sm) {
    height: 660px;
    margin-top: 43px;
  }

  .intro {
    display: flex;
    background-color: $blue-lighter;
    color: $blue-base;
    border-radius: 22px;
    height: 44px;
    width: 410px;
    margin-bottom: 64px;
    font-size: $font-size-large;

    @media (max-width: $screen-xs) {
      height: 34px;
      width: 242px;
      margin: 0 auto;
      margin-bottom: 24px;
      font-size: $font-size-small;
    }

    @media (max-width: $screen-sm) {
      height: 36px;
      width: 292px;
      margin: 0 auto;
      margin-bottom: 24px;
      font-size: $font-size-medium;
    }

    .title {
      padding: 4px 0;
      margin: 4px 8px;
      background-color: $blue-light;
      border-radius: 22px;
      font-weight: bold;
      line-height: 1.44;
      text-transform: uppercase;
      text-align: center;

      @media (min-width: $screen-lg) {
        width: 75px;
        height: 36px;
      }

      @media (max-width: $screen-xs) {
        width: 61px;
        height: 26px;
        font-size: $font-size-small;
      }

      @media (max-width: $screen-sm) {
        width: 61px;
        height: 30px;
        font-size: $font-size-medium;
      }
    }

    .desc {
      text-align: center;
      color: $blue-base;
      text-transform: capitalize;
      padding: 8px 0;

      @media (min-width: $screen-lg) {
        height: 36px;
        padding: 8px 0;
        font-size: $font-size-large;
      }

      @media (max-width: $screen-xs) {
        height: 18px;
        font-size: $font-size-small;
      }

      @media (max-width: $screen-md) {
        height: 24px;
        font-size: $font-size-medium;
        padding: 4px 0;
      }
    }

    .title > span,
    .desc > span {
      padding: 4px;
      height: 26px;
    }
  }
}

// space between general and intro 70px
.introduction {
  @media (min-width: $screen-lg) {
    height: 903px;
    padding-top: 87px;
  }

  @media (max-width: $screen-xs) {
    height: 800px;
    padding-top: 0;
    text-align: center;
  }

  .row {
    @media (max-width: $screen-xs) {
      flex-direction: column-reverse
    }
  }

  .btn {
    &-group {
      @media (max-width: $screen-xs) {
        flex-direction: column
      }
    }

    width: 175px;
    font-size: $font-size-medium;

    @media (min-width: $screen-lg) {
      margin-right: 24px;
    }

    @media (max-width: $screen-xs) {
      margin-right: 0;
      margin-bottom: 16px;
    }

    &:last-child {
      margin-right: 0;

      @media (max-width: $screen-xs) {
        margin-bottom:0;
      }
    }
  }
}

.general, .introduction {
  .jumbotron {
    background: none;
    padding-left: 0;
    padding-top: 20px;

    @media (max-width: $screen-sm) {
      text-align: center;
      margin: 0;
      padding-bottom: 0;
    }
  }

  h1 {
    line-height: 1.35;
    margin-bottom: 24px;

    @media (max-width: $screen-sm) {
      margin-bottom: 18px;
    }

    @media (max-width: $screen-xs) {
      margin-bottom: 16px;
    }
  }

  .lead {
    line-height: 1.42;

    @media (min-width: $screen-lg) {
      font-size: $font-size-h3;
      margin-bottom: 64px;
    }

    @media (min-width: $screen-xs) {
      font-size: $font-size-large;
      width: 360px!important;
    }

    @media (max-width: $screen-sm) {
      margin: 0 auto;
      font-size: $font-size-medium;
      padding-bottom: 32px;
      width: 288px;

      &:last-child {
        margin-bottom: 16px;
      }
    }
  }

  .btn {
    height: 45px;
    font-size: $font-size-medium;
    @media (min-width: $screen-lg) {
      width: 207px;
    }

    @media (max-width: $screen-xs) {
      width: 184px;
      padding: 0;
    }

    @media (max-width: $screen-sm) {
      margin-right: 16px;
    }
  }

  .banner {
    @media (min-width: $screen-lg) {
      margin-left: 5px;
    }

    @media (max-width: $screen-sm) {
      margin: 0 auto;
      text-align: center;
      padding: 16px 0 0 0;
    }

    &.intro-img {
      img {
        width: 574px;
        height: 554px;

        @media (max-width: $screen-sm) {
          width: 360px;
          height: 360px;
        }

        @media (max-width: $screen-xs) {
          width: 288px;
          height: 288px;
        }
      }
    }
  }
}

.roadmap {
  @import './components/card/roadmap';
  margin-top: 52px;
  height: 737px;

  .title {
    margin-bottom: 24px;
    width: 100%;

    @media (max-width: $screen-sm) {
      text-align: center;
      margin-bottom: 0;
    }

    h1 {
      margin-bottom: 8px;
      line-height: 1.35;
    }

    p {
      width: 673px;
      font-size: $font-size-h3;

      @media (max-width: $screen-xs) {
        margin: 0 auto;
        width: 288px;
        font-size: $font-size-medium;
      }

      @media (max-width: $screen-sm) {
        margin: 0 auto;
        width: 360px;
        font-size: $font-size-large;
      }
    }
  }

  .list-wrapper {
    padding: 24px 0 100px;

    @media (max-width: $screen-sm) {
      padding: 24px 16px 60px;
    }

    .slick-slide {
      margin: 0 12px;
      width: 210px!important;
      padding-bottom: 24px;

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }


    .slick-arrow {
      width: 48px;
      height: 48px;
      border-radius: 4px;
      box-shadow: 0 22px 24px 0 rgba(0, 0, 0, 0.14);
      background-color: $body-bg;
      top: 430px;

      &.slick-prev {
        right: 80px;
        left: auto;

        @media (max-width: $screen-xs) {
          right: 50%;
          margin-right: 8px;
        }
      }
      &.slick-next {
        right: 10px!important;

        @media (max-width: $screen-xs) {
          left:50%;
          margin-left: 8px;
        }
      }

      &.slick-prev:before,
      &.slick-next:before {
        color: #000;
        font-size: $font-size-h2;
        line-height: 0;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale
      };

      &.slick-prev:before { content: "‹"; }
      // [dir="rtl"] .slick-prev:before { content: "›"; }

      // [dir="rtl"] .slick-next { left: -10px; top: 70px; right: auto; }
      &.slick-next:before { content: "›"; }
      // [dir="rtl"] .slick-next:before { content: "‹"; }
    }
  }
}

.connect {
  @import './components/media/connect';
  height: 550px;
  text-align: center;

  @media (max-width: $screen-sm) {
    height: auto;
  }

  @media (max-width: $screen-xs) {
    height: auto;
  }

  @media (min-width: $screen-lg) {
    padding-top: 16px;
  }

  h1 {
    margin-bottom: 24px;
  }

  .account-wrapper {
    @include x-display-flex;
    @include x-flex-direction(row);
    @include x-align-items(center);
    @include x-justify-content(center);


    @media (max-width: $screen-sm) {
      @include x-flex-direction(column);

      .media {
        margin-bottom: 24px;
        margin-left: 0;
      }
    }
  }
}

.contact {
  @import './components/form/contact';

  @media (max-width: $screen-xs) {
    margin-top: 64px;
  }

  &-wrapper {
    width: 448px;
    margin: 8px 0 103px;
    border-radius: 4px;
    box-shadow: 0 22px 34px 0 rgba(0, 0, 0, 0.14);
    padding: 24px;

    @media (max-width: $screen-xs) {
      width: 288px;
      margin: 0 auto;
      text-align: center;
      padding: 16px;
    }

    @media (min-width: $screen-xs) {
      width: 360px;
      margin: 0 auto;
      text-align: center;
      padding: 16px;
    }
  }

  .row {
    @media (max-width: $screen-xs) {
      flex-direction: column-reverse
    }
  }

  h1 {
    height: 54px;
    margin-bottom: 24px;

    @media (max-width: $screen-xs) {
      margin-bottom: 13px;
    }
  }

  p {
    font-size: $font-size-large;
    margin-bottom: 24px;

    @media (max-width: $screen-xs) {
      font-size: $font-size-base;
    }
  }

  .illus {
    text-align: center;

    @media (max-width: $screen-xs) {
      margin-bottom: 24px;
    }

    &-message {
      height: 408px;
      width: 493px;
      margin: 32px 0 160px 0;

      @media (max-width: $screen-xs) {
        height: 288px;
        width: 288px;
        margin: 0 auto;
        text-align: center;
        padding: 32px 16px;
      }

      @media (min-width: $screen-xs) {
        height: 360px;
        width: 360px;
        margin: 0 auto;
        text-align: center;
        padding: 32px 16px;
      }
    }
  }
}
