.product {
  max-width: $screen-desktop-max;
  margin: 0 auto;
  position: relative;

  &-bg {
    background-image: linear-gradient(to bottom, #cddeef, #dcecf8 54%, #ffffff);
    background-size: cover;
    background-position: center center;
    content: "";
    display: block;
    position: absolute;
    top: -96px;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -2;
  }

  &-bg-image {
    &:before {
      background-image: url('/static/images/desktop/cel-kiri.png');
      background-repeat: no-repeat;
      background-size: contain;
      background-position: left;
      content: "";
      display: block;
      position: absolute;
      top: 214px;
      left: 0;
      height: 302px;
      width: 317px;
      z-index: -1;
    }

    &:after {
      background-image: url('/static/images/desktop/cel-kanan.png');
      background-repeat: no-repeat;
      background-size: contain;
      background-position: right;
      content: "";
      display: block;
      position: absolute;
      top: 214px;
      right: 0;
      height: 302px;
      width: 254px;
      z-index: -1;
    }
  }

  @media (max-width: $screen-xs) {
    padding: 0 16px;
  }

  @media (max-width: $screen-sm) {
    padding: 0 18px;
  }

  .navbar {
    height: 20px;
    margin: 0;
    padding: 24px 0;

    &>.container {
      padding: 16px;
    }

    &-brand {
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: normal;
      padding: 0;
    }

    .nav-item {
      font-size: $font-size-medium;
      margin: 0 16px;
      padding: 0 12px;
      height: 20px;
      @media (max-width: $screen-sm) {
        display: none;
      }

      &.active, &:hover {
        display: block;
        font-weight: bold;
      }

      &:first-child {
        margin-left: 0;
        padding-left: 0;
      }

      &:last-child {
        margin-right: 0;
        padding: 0 20px;
      }

      a {
        color: $text-color;
      }
    }
  }

  .content {
    padding: 0;

    .features {
      @import './components/media/features';
      margin-top: 68px;
      text-align: center;
      margin-bottom: 192px;

      h1 {
        margin-bottom: 24px;
      }

      p {
        @media (min-width: $screen-md) {
          width: 583px;
        }
        font-size: $font-size-h3;
        margin: 0 auto;
        line-height: 1.42;
        margin-bottom: 68px;
      }
    }

    .overview {
      margin-top: 72px;

      .jumbotron {
        background: none;
        padding: 0;
        margin-bottom: 188px;
        text-align: center;
        @media (max-width: $screen-xs) {
          margin-bottom: 79px;
        }

        h1 {
          margin-bottom: 24px;
        }

        p {
          padding-bottom: 64px;
          font-size: $font-size-h3;
          margin: 0 auto;
          @media (min-width: $screen-md) {
            width: 500px;
          }

          @media (max-width: $screen-xs) {
            font-size: $font-size-medium;
            width: 288px;
            padding-bottom: 24px;
          }
        }

        .btn {
          height: 45px;
          min-width: 175px;
          margin-right: 24px;
          padding: 0 10.5px;
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.24);

          @media (max-width: $screen-xs) {
            margin-right: 0;
            margin-bottom: 16px;
          }

          &:last-child {
            margin-right: 0;
          }

          &-group {
            @media (max-width: $screen-xs) {
              flex-direction: column
            }
          }
        }
      }

      .benefit {
        @include x-display-flex;
        @include x-flex-direction(row);
        @include x-justify-content(center);
        height: 225px;

        @media (max-width: $screen-sm) {
          @include x-flex-direction(column);
          height: auto;
          margin-bottom: 64px;
        }

        .media {
          font-size: $font-size-large;
          margin-right: 28px;
          @include x-flex-direction(row);
          @media (max-width: $screen-xs) {
            @include x-flex-direction(column);
            margin-bottom: 24px;
          }

          @media (max-width: $screen-sm) {
            margin-bottom: 24px;
          }

          &:last-child {
            margin-right: 0;
          }

          &-left {
            margin-right: 19px;
            @media (max-width: $screen-xs) {
              margin-bottom: 16px;
            }
            img {
              width: 56px;
              height: 56px;
            }
          }

          &-body {
            width: 285px;
            @media (max-width: $screen-xs) {
              font-size: $font-size-medium;
            }

            h4 {
              font-size: $font-size-h3;
              height: 34px;
              margin-bottom: 8px;

              @media (max-width: $screen-xs) {
                font-size: $font-size-large;
                font-weight: bold;
              }
            }
          }
        }
      }
    }
  }
}
