@import '~normalize-scss/sass/normalize/import-now';

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  background: transparent;
  border: 0;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

body {
  color: $text-color;
  font-size: $font-size-base;
  font-family: $font-family-base;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  z-index: 11;
}

h1, h2, h3, h4, h5 {
  font-weight: normal;
}

h1, h2 {
  color: $blue-base;
  font-size: $font-size-h1;

  @media (max-width: $screen-sm) {
    font-size: $font-size-h2;
  }

  @media (max-width: $screen-xs) {
    font-size: $font-size-h3;
  }
}

h3 {
  font-size: $font-size-h3;
}

h5 {
  font-size: $font-size-h5;
}

.container {
  @media (min-width: $screen-lg) {
    max-width: $screen-default;
  }
}

.divider {
  height: 13px;
  border-bottom: 1px solid #f5f9fc;
}

.color-white {
  color: white;

  &:hover {
    color: white;
  }
}

.jumbotron {
  margin: 0 auto;
  max-width: 885px;
  background: none;
  padding: 0;
  text-align: center;

  @media (max-width: $screen-sm - 1) {
    margin: 0 auto;
    max-width: 288px;
  }

  &.title {
    margin-bottom: 296px;

    .lead {
      font-size: $font-size-h3;
      line-height: 1.42;

      @media (max-width: $screen-sm - 1) {
        font-size: $font-size-large;
      }
    }
  }

  &.heading {
    width: 652px;
    text-align: center;
    margin-bottom: 99px;

    @media (max-width: $screen-sm - 1) {
      margin-top: 72px;
      margin-bottom: 72px;
    }

    .lead {
      font-size: $font-size-h4;
    }
  }

  h2 {
    line-height: 1.35;
    margin-bottom: 24px;

    @media (max-width: $screen-sm - 1) {
      font-size: $font-size-h3;
    }
  }
}