@import "~normalize-scss/sass/normalize/import-now";

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  background: transparent;
  border: 0;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

body {
  color: $text-color;
  font-size: $font-size-base;
  font-family: $font-family-base;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  z-index: 11;
}

h1, h2, h3, h4, h5 {
  font-weight: normal;
}

h1 {
  color: $blue-base;
  font-size: $font-size-h1;

  @media (max-width: $screen-sm) {
    font-size: $font-size-h2;
  }

  @media (max-width: $screen-xs) {
    font-size: $font-size-h3;
  }
}

h3 {
  font-size: $font-size-h3;
}

h5 {
  font-size: $font-size-h5;
}

.container {
  @media (min-width: $screen-lg) {
    max-width: $screen-default;
  }
}
