@import './variables';
@import './base';
@import './mixins';

@import './components/header';
@import './components/footer';
@import './components/button';
@import './components/icon';

@import './pages/home';
@import './pages/product';
@import './pages/contact';
