$general-height: 1100px;
$general-padding-top: 79px;
$general-y-pos: 58px;
$general-button-height: 45px;

$height: $general-height - ($general-y-pos + $general-padding-top);

.general {
  margin: 0 auto;
  height: $height;
  padding-top: $general-padding-top;
  margin-bottom: 48px;
  position: relative;

  @media (max-width: $screen-lg - 1) {
    $divider: $screen-desktop-max/$screen-lg;

    height: ceil($height/$divider) - ceil($general-padding-top/$divider);
    padding-top: ceil($general-padding-top/$divider);
    margin-bottom: 16px;
  }

  @media (max-width: $screen-md - 1) {
    $divider: $screen-desktop-max/$screen-md;

    height: ceil($height/$divider) - (ceil($general-padding-top/$divider) + $general-y-pos);
    padding-top: ceil($general-padding-top/$divider);
    margin-bottom: 16px;
    position: relative;
  }

  // small and extra small screen have save property
  @media (max-width: $screen-sm - 1) {
    height: 665px;
    padding-top: 43px;
    margin-bottom: 91px;
  }

  .head-bg {
    &:after {
      background-image: url('/static/images/desktop/bg-header.png');
      background-repeat: no-repeat;
      background-position: top;
      background-size: cover;
      content: "";
      display: block;
      position: absolute;
      top: -$general-y-pos;
      right: 0;
      height: $general-height + $general-y-pos + 8px;
      width: 100%;
      z-index: -1;
    }

    @media (max-width: $screen-lg - 1) {
      $divider: $screen-desktop-max/$screen-lg;

      &:after {
        background-size: cover;
        background-position: 50% 100%;
        height: ceil($height/$divider) + ceil($general-padding-top/$divider);
      }
    }

    @media (max-width: $screen-md - 1) {
      $divider: $screen-desktop-max/$screen-md;

      &:after {
        background-size: cover;
        background-position: contain;
        top: -$general-y-pos;
        height: 100%;
      }
    }

    @media (max-width: $screen-sm - 1) {
      &:after {
        background-image: url('/static/images/mobile/bg-header.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom;
        content: "";
        display: block;
        position: absolute;
        top:-$general-y-pos;
        left: 0;
        height: 665px;
        width: 100%;
        z-index: -1;
      }
    }
  }

  .illus-header {
    width: 703px;
    height: 684px;
    position: relative;

    @media (max-width: $screen-lg - 1) {
      width: 560px;
      height: 525px;

      &:after {
        background-size: 100% 100%!important;
      }
    }

    @media (max-width: $screen-md - 1) {
      width: 351.5px;
      height: 342px;
    }

    @media (max-width: $screen-sm - 1) {
      width: 288px;
      height: 288px;
    }

    &:after {
      background-image: url('/static/images/desktop/illus-header@3x.png');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
    }
  }

  .jumbotron {
    background: none;
    padding-left: 0;
    padding: 99px 12px;

    @media (max-width: $screen-md - 1) {
      padding: 33px 6px;
    }

    @media (max-width: $screen-sm - 1) {
      text-align: center;
      padding: 0;
    }
  }

  .intro {
    display: flex;
    background-color: $blue-lighter;
    color: $blue-base;
    border-radius: 22px;
    height: 44px;
    width: ceil($screen-lg/3);
    margin-bottom: 64px;
    font-size: $font-size-large;

    @media (max-width: $screen-lg - 1) {
      $divider: $screen-desktop-max/$screen-lg;

      height: ceil(44px/$divider);
      width: 324px;
      margin-bottom: 48px;
      font-size: $font-size-medium;
    }

    @media (max-width: $screen-md - 1) {
      height: 22px;
      width: ceil($screen-lg/4) - 48px;
      margin-bottom: 32px;
      font-size: $font-size-extra-small;
    }

    @media (max-width: $screen-sm - 1) {
      height: 36px;
      width: 292px;
      margin: 0 auto;
      margin-bottom: 24px;
      font-size: $font-size-medium;
    }

    @media (max-width: $screen-xs) {
      height: 34px;
      width: 242px;
      margin: 0 auto;
      margin-bottom: 24px;
      font-size: $font-size-small;
    }

    .title {
      padding: 4px 0;
      margin: 4px 8px;
      background-color: $blue-light;
      border-radius: 22px;
      font-weight: bold;
      line-height: 1.44;
      text-transform: uppercase;
      text-align: center;
      display: inline;
      width: 75px;
      height: 36px;

      @media (max-width: $screen-lg - 1) {
        width: auto;
        height: 24px;
        line-height: 1;
        padding: 4px 0;
        margin: 7px 8px;
        border-radius: 11px;
      }

      @media (max-width: $screen-md - 1) {
        width: auto;
        height: 18px;
        line-height: 1;
        padding: 2px 0;
        margin: 3px 4px 2px 4px;
        border-radius: 11px;
      }

      @media (max-width: $screen-sm - 1) {
        font-size: $font-size-small;
        padding: 4px 16px;
        height: 26px;
        line-height: 1.5;
        width: auto;
        margin: 4px 4px 2px;
      }

      span {
        padding: 4px;

        @media (min-width: $screen-md) and (max-width: $screen-lg - 1) {
          padding: 4px 8px;
        }
      }
    }

    .desc {
      text-align: center;
      color: $blue-base;
      text-transform: capitalize;
      padding: 8px 0 8px 16px;
      font-size: $font-size-large;

      @media (max-width: $screen-lg - 1) {
        height: 32px;
        font-size: $font-size-medium;
        margin: -1px 0;
      }

      @media (max-width: $screen-md - 1) {
        height: 24px;
        font-size: $font-size-medium;
        padding: 2px 0;
      }

      @media (max-width: $screen-md - 1) {
        height: 24px;
        font-size: $font-size-small;
        padding: 2px 0;
      }

      @media (max-width: $screen-sm - 1) {
        height: 24px;
        font-size: $font-size-medium;
        padding: 4px 0;
      }

      @media (max-width: $screen-xs) {
        height: 18px;
        font-size: $font-size-small;
        padding: 8px 0;
        width: 100%;
        text-align: center;
      }

      span {
        padding: 4px;

        @media (max-width: $screen-lg - 1) {
          padding: 8px 8px;
          height: 18px;
          line-height: 18px;
        }
      }
    }
  }

  h1 {
    line-height: 1.45;
    margin-bottom: 24px;

    @media (max-width: $screen-lg - 1) {
      font-size: $font-size-h2;
      margin-bottom: 16px;
    }

    @media (max-width: $screen-md - 1) {
      font-size: 24px;
      margin-bottom: 8px;
    }

    @media (max-width: $screen-sm - 1) {
      margin-bottom: 18px;
    }
  }

  .lead {
    line-height: 1.42;
    font-size: $font-size-h3;
    margin-bottom: 64px;

    @media (max-width: $screen-lg - 1) {
      font-size: $font-size-large;
      margin-bottom: 24px;
    }

    @media (max-width: $screen-md - 1) {
      font-size: $font-size-small;
      margin-bottom: 24px;
    }

    @media (max-width: $screen-sm - 1) {
      margin: 0 auto;
      font-size: $font-size-medium;
      padding-bottom: 32px;
      width: 288px;

      &:last-child {
        padding-bottom: 25px;
      }
    }
  }

  .btn {
    &-group {
      @media (max-width: $screen-sm - 1) {
        flex-direction: column
      }
    }

    height: 45px;
    width: 207px;
    font-size: $font-size-medium;
    margin-right: 24px;

    @media (max-width: $screen-md - 1) {
      height: 24px;
      font-size: $font-size-extra-small;
      margin-right: 0;
      width: 110px;
      margin-right: 12px;
      line-height: 1.44
    }

    @media (max-width: $screen-sm - 1) {
      font-size: $font-size-medium;
      margin-right: 0;
      margin-bottom: 16px;
      height: 45px;
      width: 175px;
    }

    &:last-child {
      margin-right: 0;

      @media (max-width: $screen-xs) {
        margin-bottom:0;
      }
    }
  }

  // .btn {
  //   height: 45px;
  //   font-size: $font-size-medium;
  //   width: 207px;

  //   @media (max-width: $screen-md - 1) {
  //     width: 140px!important;
  //     height: 24px;
  //     font-size: $font-size-extra-small;
  //     line-height: 1.2;
  //   }

  //   @media (max-width: $screen-sm -1) {
  //     width: 184px;
  //     padding: 0;
  //   }
  // }

  .banner {
    margin-left: 5px;

    @media (max-width: $screen-sm - 1) {
      margin: 0 auto;
      text-align: center;
      padding: 16px 0 0 0;
    }
  }
}

.jumbotron {
  margin: 0 auto;
  max-width: 885px;
  background: none;
  padding: 0;
  text-align: center;

  @media (max-width: $screen-sm - 1) {
    margin: 0 auto;
    max-width: 288px;
  }

  &.title {
    margin-bottom: 296px;

    .lead {
      font-size: $font-size-h3;
      line-height: 1.42;

      @media (max-width: $screen-sm - 1) {
        font-size: $font-size-large;
      }
    }
  }

  &.heading {
    width: 652px;
    text-align: center;
    margin-bottom: 99px;

    @media (max-width: $screen-sm - 1) {
      margin-top: 72px;
      margin-bottom: 72px;
    }

    .lead {
      font-size: $font-size-h4;
    }
  }

  h1 {
    line-height: 1.35;
    margin-bottom: 24px;

    @media (max-width: $screen-sm - 1) {
      font-size: $font-size-h3;
    }
  }
}

.description {
  max-width: 1440px;
  margin: 0 auto;
}

.about {
  @include x-display-flex;
  @include x-flex-direction(row);

  @media (max-width: $screen-sm - 1) {
    @include x-flex-direction(column-reverse);
  }

  &-us {
    height: 512px;
    margin-bottom: 128px;

    @media (max-width: $screen-sm - 1) {
      height: auto;
      margin: 0 auto;
      width: 288px;
    }

    .body {
      margin-top: 175px;
      max-width: 673px;
      height: 190px;
      font-size: $font-size-large;

      @media (max-width: $screen-sm - 1) {
        height: auto;
        margin-top: 75px;
      }

      h1 {
        margin-bottom: 24px;
      }
    }

    .image > img {
      width: 512px;
      height: 512px;

      @media (max-width: $screen-sm - 1) {
        width: 288px;
        height: 288px;
      }
    }
  }
}

.guarantee {
  margin-bottom: 128px;

  @media (max-width: $screen-sm - 1) {
    margin-bottom: 64px;
    margin-right: 0;
    margin-left: 0;
  }

  &-items {
    margin-top: 13px;

    .media {
      margin-bottom: 24px;
      @media (max-width: $screen-sm - 1) {
        @include x-flex-direction(column);
        @include x-align-items(center);
        margin: 0 auto;
        width: 288px;
      }

      &-left {
        height: 64px;
        width: 64px;
        padding-right: 8px;

        @media (max-width: $screen-sm - 1) {
          height: 144px;
          width: 144px;
        }

        img {
          width: 100%;
        }
      }

      &-body {
        padding-left: 8px;
        width: 496px;
        font-size: $font-size-large;
        line-height: 1.44;

        @media (max-width: $screen-sm - 1) {
          width: 288px;
          font-size: $font-size-medium;
          padding-left: 0;
          margin: 0 auto;
          padding-bottom: 24px;
          text-align: center;
        }

        h4 {
          font-size: $font-size-h3;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.42;

          @media (max-width: $screen-sm - 1) {
            width: 288px;
            font-size: $font-size-h4;
            margin-bottom: 8px;
          }
        }
      }
    }
  }

  &-image {
    width: 592px;
    height: 512px;

    @media (max-width: $screen-sm - 1) {
      width: 288px;
      height: 288px;
    }

    img {
      width: 100%;
    }
  }
}

.teams {
  @include x-display-flex;
  @include x-flex-direction(row);

  @media (max-width: $screen-sm - 1) {
    @include x-flex-direction(column);
    width: 288px;
    margin: 0 auto;
  }

  margin-bottom: 100px;

  .card {
    width: 256px;
    margin-right: 53px;
    border: 0;

    &:last-child{
      margin-right: 0;
    }

    &-img-top {
      width: 256px;
      height: 256px;
    }

    &-body {
      padding: 16px 0;
      text-align: center;
      font-size: $font-size-large;
      color: $text-light;
    }

    &-title {
      font-size: $font-size-h3;
      font-weight: bold;
      line-height: 1.42;
    }

    &-subtitle {
      font-weight: bold;
      line-height: 1.44;
      margin-bottom: 8px;
    }

    @media (max-width: $screen-sm - 1) {
      @include x-flex-direction(column);
      margin: 0 auto;

      &:last-child{
        margin-right: auto;
      }
    }
  }
}