$introduction-height: 842px;
$introduction-mobile-height: 707px;
$introduction-margin-bottom: 64px;
$introduction-mobile-margin-bottom: 31px;

$height: $introduction-height;

.introduction {
  max-width: $screen-desktop-max;
  margin: 0 auto;
  position: relative;
  height: $height;
  margin-bottom: $introduction-margin-bottom;
  text-align: center;


  @media (max-width: $screen-md) {
    height: ceil($height/2);
    margin-bottom: ceil($introduction-margin-bottom/2);
  }

  @media (max-width: $screen-sm - 1) {
    height: $introduction-mobile-height;
    padding-top: 0;
    margin-bottom: $introduction-mobile-margin-bottom;
  }

  .plasma-bg {
    $bg-width: 724px;

    &:after {
      background-image: url('/static/images/desktop/bg-plasma.png');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: right;
      content: "";
      display: block;
      position: absolute; /* could also be absolute */
      top: 0;
      left: 0;
      height: $height;
      width: $bg-width;
      z-index: -1;
    }

    @media (max-width: $screen-md - 1) {
      &:after {
        background-image: url('/static/images/desktop/bg-plasma.png');
        background-repeat: no-repeat;
        background-size: ($bg-width/$screen-desktop-max) * 100% 100%;
        background-position: left;
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        height: ceil($height/2);
        width: $bg-width;
        z-index: -1;
      }
    }

    @media (max-width: $screen-sm - 1) {
      &:after {
        background-image: url('/static/images/mobile/bg-plasma.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: center;
        content: "";
        display: block;
        position: absolute;
        top: 240px; // NOTE: only assumption
        height: 461px;
        width: 100%;
        z-index: -1;
      }
    }
  }

  $illus-distance-from-top: 154px;
  $illus-inner-distance-from-top: 61px;
  $illus-height: 512px;
  $illus-width: 512px;
  $illus-padding-top: 19px;
  $illus-padding-right: 17px;
  $illus-padding-bottom: 15px;
  $illus-padding-left: 16px;

  .illus-plasma {
    margin-top: $illus-distance-from-top + $illus-inner-distance-from-top;
    width: $illus-height;
    height: $illus-width;
    padding: $illus-padding-top $illus-padding-right $illus-padding-bottom $illus-padding-left;
    position: relative;

    &:after {
      background-image: url('/static/images/illus-plasma@2x.png');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: bottom;
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: $illus-padding-left;
      width: $illus-width - ($illus-padding-right + $illus-padding-left);
      height: $illus-height - ($illus-padding-top + $illus-inner-distance-from-top);
      z-index: -1;
    }

    @media (max-width: $screen-md - 1) {
      margin-top: ($illus-distance-from-top + $illus-inner-distance-from-top)/2;
      width: $illus-width/2;
      height: $illus-height/2;
      padding: $illus-padding-top $illus-padding-right $illus-padding-bottom $illus-padding-left;

      &:after {
        background-image: url('/static/images/illus-plasma@2x.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom;
        content: "";
        display: block;
        position: absolute;
        top: 0;
        width: ($illus-width - ($illus-padding-right + $illus-padding-left))/2;
        height: ($illus-height - ($illus-padding-top + $illus-inner-distance-from-top))/2;
        z-index: -1;
      }
    }

    $mobile-illus-inner-distance-from-top: 36px;
    $mobile-illus-padding: 9px;
    $mobile-illus-width: 288px;
    $mobile-illus-height: 288px;

    @media (max-width: $screen-sm - 1) {
      width: $mobile-illus-width;
      height: $mobile-illus-height;
      padding: $mobile-illus-padding;
      margin: 0 auto;

      &:after {
        background-image: url('/static/images/mobile/illus-plasma.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        content: "";
        display: block;
        position: absolute;
        top: $mobile-illus-inner-distance-from-top;
        left: $mobile-illus-padding;
        width: $mobile-illus-width - (2*$mobile-illus-padding);
        height: $mobile-illus-height - ($mobile-illus-padding + $mobile-illus-inner-distance-from-top);
        z-index: -1;
      }
    }
  }

  .row {
    @media (max-width: $screen-sm - 1) {
      flex-direction: column-reverse
    }

    .jumbotron {
      background: none;
      padding-left: 0;
      padding: 291px 0 0 0;
      text-align: left;
      margin-left: 38px;

      @media (max-width: $screen-md - 1) {
        margin: 0;
        padding: 145px 0 0 0;
      }

      @media (max-width: $screen-sm - 1) {
        text-align: center;
        margin: 0;
        padding: 0;
        height: 290px;
      }
    }
  }

  h1 {
    line-height: 1.45;
    margin-bottom: 8px;

    @media (max-width: $screen-md - 1) {
      font-size: 24px;
    }

    @media (max-width: $screen-sm - 1) {
      font-size: 24px;
      margin-bottom: 16px;
      height: 68px;
      width: 288px;
    }
  }

  .lead {
    line-height: 1.42;
    font-size: $font-size-h3;
    margin-bottom: 64px;
    width: 550px;

    @media (max-width: $screen-md - 1){
      font-size: $font-size-small;
      margin-bottom: 32px;
      width: 275px;
    }

    @media (max-width: $screen-sm - 1) {
      margin: 0 auto;
      font-size: $font-size-medium;
      padding-bottom: 32px;
      width: 288px;
      height: 84px;
      line-height: 1.64;

      &:last-child {
        padding-bottom: 25px;
      }
    }

    .btn {
      &-group {
        @media (max-width: $screen-sm - 1) {
          flex-direction: column
        }
      }

      height: 45px;
      width: 207px;
      font-size: $font-size-medium;
      margin-right: 24px;

      @media (max-width: $screen-md - 1) {
        height: 24px;
        font-size: $font-size-extra-small;
        margin-right: 0;
        width: 110px;
        margin-right: 12px;
        line-height: 1.44
      }

      @media (max-width: $screen-sm - 1) {
        font-size: $font-size-medium;
        margin-right: 0;
        margin-bottom: 16px;
        height: 45px;
        width: 175px;
      }

      &:last-child {
        margin-right: 0;

        @media (max-width: $screen-xs) {
          margin-bottom:0;
        }
      }
    }
  }
}
