$general-height: 1011px;
$general-padding-top: 79px;
$general-y-pos: 58px;
$general-button-height: 45px;

$height:  $general-height - ($general-y-pos + $general-padding-top);

.general {
  max-width: $screen-desktop-max;
  margin: 0 auto;
  height: $height;
  padding-top: $general-padding-top;
  margin-bottom: 32px;
  position: relative;

  @media (max-width: $screen-lg - 1) {
    $divider: $screen-desktop-max/$screen-lg;

    height: ceil($height/$divider) - ceil($general-padding-top/$divider);
    padding-top: ceil($general-padding-top/$divider);
    margin-bottom: 16px;
  }

  @media (max-width: $screen-md - 1) {
    $divider: $screen-desktop-max/$screen-md;

    height: ceil($height/$divider) - (ceil($general-padding-top/$divider) + $general-y-pos);
    padding-top: ceil($general-padding-top/$divider);
    margin-bottom: 16px;
    position: relative;
  }

  // small and extra small screen have save property
  @media (max-width: $screen-sm - 1) {
    height: 665px;
    padding-top: 43px;
    margin-bottom: 91px;
  }

  .head-bg {
    &:after {
      background-image: url('/static/images/desktop/bg-header.png');
      background-repeat: no-repeat;
      background-position: top;
      background-size: contain;
      content: "";
      display: block;
      position: absolute;
      top: -$general-y-pos;
      right: 0;
      height: $general-height + $general-y-pos + 8px;
      width: 100%;
      z-index: -1;
    }

    @media (max-width: $screen-lg - 1) {
      $divider: $screen-desktop-max/$screen-lg;

      &:after {
        background-size: cover;
        background-position: 50% 100%;
        height: ceil($height/$divider) + ceil($general-padding-top/$divider);
      }
    }

    @media (max-width: $screen-md - 1) {
      $divider: $screen-desktop-max/$screen-md;

      &:after {
        background-size: cover;
        background-position: contain;
        top: -$general-y-pos;
        height: 100%;
      }
    }

    @media (max-width: $screen-sm - 1) {
      &:after {
        background-image: url('/static/images/mobile/bg-header.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom;
        content: "";
        display: block;
        position: absolute;
        top:-$general-y-pos;
        left: 0;
        height: 665px;
        width: 100%;
        z-index: -1;
      }
    }
  }

  .illus-header {
    width: 703px;
    height: 684px;
    position: relative;

    @media (max-width: $screen-lg - 1) {
      width: 560px;
      height: 525px;

      &:after {
        background-size: 100% 100%!important;
      }
    }

    @media (max-width: $screen-md - 1) {
      width: 351.5px;
      height: 342px;
    }

    @media (max-width: $screen-sm - 1) {
      width: 288px;
      height: 288px;
    }

    &:after {
      background-image: url('/static/images/desktop/illus-header@3x.png');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
    }
  }

  .jumbotron {
    background: none;
    padding-left: 0;
    padding: 99px 12px;

    @media (max-width: $screen-md - 1) {
      padding: 33px 6px;
    }

    @media (max-width: $screen-sm - 1) {
      text-align: center;
      margin: 0;
      padding: 0;
    }
  }

  .intro {
    display: flex;
    background-color: $blue-lighter;
    color: $blue-base;
    border-radius: 22px;
    height: 44px;
    width: ceil($screen-lg/3);
    margin-bottom: 64px;
    font-size: $font-size-large;

    @media (max-width: $screen-lg - 1) {
      $divider: $screen-desktop-max/$screen-lg;

      height: ceil(44px/$divider);
      width: 324px;
      margin-bottom: 48px;
      font-size: $font-size-medium;
    }

    @media (max-width: $screen-md - 1) {
      height: 22px;
      width: ceil($screen-lg/4) - 48px;
      margin-bottom: 32px;
      font-size: $font-size-extra-small;
    }

    @media (max-width: $screen-sm - 1) {
      height: 36px;
      width: 292px;
      margin: 0 auto;
      margin-bottom: 24px;
      font-size: $font-size-medium;
    }

    @media (max-width: $screen-xs) {
      height: 34px;
      width: 242px;
      margin: 0 auto;
      margin-bottom: 24px;
      font-size: $font-size-small;
    }

    .title {
      padding: 4px 0;
      margin: 4px 8px;
      background-color: $blue-light;
      border-radius: 22px;
      font-weight: bold;
      line-height: 1.44;
      text-transform: uppercase;
      text-align: center;
      display: inline;
      width: 75px;
      height: 36px;

      @media (max-width: $screen-lg - 1) {
        width: auto;
        height: 24px;
        line-height: 1;
        padding: 4px 0;
        margin: 7px 8px;
        border-radius: 11px;
      }

      @media (max-width: $screen-md - 1) {
        width: auto;
        height: 18px;
        line-height: 1;
        padding: 2px 0;
        margin: 3px 4px 2px 4px;
        border-radius: 11px;
      }

      @media (max-width: $screen-sm - 1) {
        font-size: $font-size-small;
        padding: 4px 16px;
        height: 26px;
        line-height: 1.5;
        width: auto;
        margin: 4px 4px 2px;
      }

      span {
        padding: 4px;

        @media (min-width: $screen-md) and (max-width: $screen-lg - 1) {
          padding: 4px 8px;
        }
      }
    }

    .desc {
      text-align: center;
      color: $blue-base;
      text-transform: capitalize;
      padding: 8px 0 8px 16px;
      font-size: $font-size-large;

      @media (max-width: $screen-lg - 1) {
        height: 32px;
        font-size: $font-size-medium;
        margin: -1px 0;

      }

      @media (max-width: $screen-md - 1) {
        height: 24px;
        font-size: $font-size-medium;
        padding: 2px 0;
      }

      @media (max-width: $screen-md - 1) {
        height: 24px;
        font-size: $font-size-small;
        padding: 2px 0;
      }

      @media (max-width: $screen-sm - 1) {
        height: 24px;
        font-size: $font-size-medium;
        padding: 4px 0;
      }

      @media (max-width: $screen-xs) {
        height: 18px;
        font-size: $font-size-small;
        padding: 8px 0;
      }

      span {
        padding: 4px;

        @media (max-width: $screen-lg - 1) {
          padding: 8px 8px;
          height: 18px;
          line-height: 18px;
        }
      }
    }
  }

  h1 {
    line-height: 1.45;
    margin-bottom: 24px;

    @media (max-width: $screen-lg - 1) {
      font-size: $font-size-h2;
      margin-bottom: 16px;
    }

    @media (max-width: $screen-md - 1) {
      font-size: 24px;
      margin-bottom: 8px;
    }

    @media (max-width: $screen-sm - 1) {
      margin-bottom: 18px;
    }
  }

  .lead {
    line-height: 1.42;
    font-size: $font-size-h3;
    margin-bottom: 64px;

    @media (max-width: $screen-lg - 1) {
      font-size: $font-size-large;
      margin-bottom: 24px;
    }

    @media (max-width: $screen-md - 1) {
      font-size: $font-size-small;
      margin-bottom: 24px;
    }

    @media (max-width: $screen-sm - 1) {
      margin: 0 auto;
      font-size: $font-size-medium;
      padding-bottom: 32px;
      width: 288px;

      &:last-child {
        padding-bottom: 25px;
      }
    }
  }

  .btn {
    height: 45px;
    font-size: $font-size-medium;
    width: 207px;

    @media (max-width: $screen-md - 1) {
      width: 140px!important;
      height: 24px;
      font-size: $font-size-extra-small;
      line-height: 1.2;
    }

    @media (max-width: $screen-sm -1) {
      width: 184px;
      padding: 0;
    }
  }

  .banner {
    margin-left: 5px;

    @media (max-width: $screen-sm - 1) {
      margin: 0 auto;
      text-align: center;
      padding: 16px 0 0 0;
    }
  }
}
