.media {
  width: 328px;
  height: 192px;
  padding: 34px 0 33px;
  border-radius: 4px;
  box-shadow: 0 22px 24px 0 rgba(0, 0, 0, 0.08);
  background-color: #fafcff;
  margin: 0 32px;

  @media (max-width: $screen-xs) {
    margin: 0;
  }

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }

  &-left {
    width: 84px;
    height: 125px;

    img {
      height: 100%;
    }
  }

  &-body {
    padding: 23px 0 23px 16px;
    text-align: left;
    line-height: 1.43;
    letter-spacing: normal;
    color: $text-light;
  }

  &-heading {
    font-size: $font-size-h3;
    height: 34px;
    margin-bottom: 4px;
  }
}
