.form-group {
  height: 48px;
  border-radius: 4px;
  background-color: $blue-lighter;
  margin-bottom: 8px;
  margin-left: 0;
  margin-right: 0;
  font-size: $font-size-medium;

  @media (max-width: $screen-md - 1) {
    .col-md-5,
    .col-md-7 {
      flex: 0 0 100%;
    }

  }

  .form-control {
    height: 100%;
    border: 0;
    background-color: $blue-lighter;

    @media (max-width: $screen-xs) {
      padding: 0;
    }

    &:focus {
      box-shadow: none;
      border-color: none;

      &::-webkit-input-placeholder {
        color:transparent;
      }
      &::-moz-placeholder {
        color:transparent;
      }
    }

    &:-moz-placeholder {
      color:transparent;
    }
  }

  &.message {
    height: 104px;
  }
}

.form-check {
  padding: 0;
  margin-left: 0;
  margin-right: 0;

  button {
    width: 400px;
    height: 45px;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.24);
    color: $btn-default-color;
    background-color: $btn-default-bg;
    font-size: $font-size-medium;
    font-weight: bold;

    @media (max-width: $screen-sm) {
      width: 100%;
    }
  }
}
